CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DATABASE_ENGINE=
DATABASE_NAME=social-db
DATABASE_USER=social
DATABASE_PASSWORD=admin
DATABASE_HOST=localhost
DATABASE_PORT=6543

DATABASE_URL="postgresql://admin:password@127.0.0.1:6543/social_media_db"
# DATABASE_URL="sqlite:///./social_media_db"


SECRET_KEY="this is a scret"
