CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DATABASE_ENGINE=
DATABASE_NAME=social-db
DATABASE_USER=social
DATABASE_PASSWORD=admin
DATABASE_HOST=db
DATABASE_PORT=5432

DATABASE_URL=postgresql://admin:password@db:5432/social_media_db
# DATABASE_URL=sqlite:///./social_media_db


SECRET_KEY=this is a secret
